<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NOT FOUND</title>
  <style>
    *{
      box-sizing: border-box;
      margin: 0;
      font-family: sans-serif;
    }
    .contenedor{
      display: grid;
      place-items: center;
      height: 100vh; 
      width:100%
    }
  </style>

</head>
<body>
 <div class="contenedor">
  <h1 class="text-center text-uppercase col-md-12">Upps... Página no encontrada.</h1>
  <h1 style="color: gray; font-size: 200px;">404</h1>
  <div style="width: 35%; height: 50vh;">
    <img src="../static/img/404.webp" class="img-fluid" style="width: 100%;">
  </div>
 </div>
  
</body>
</html>